* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 26px;
}

#screen-message {
    display: none;
    margin: 20px;
}

.space-bottom {
    margin-bottom: 3rem;
}

.space-top {
    margin-top: 5rem;
}

.space-left {
    margin-left: 7rem;
}

.two-space-left {
    margin-left: 10rem;
}

.nowrap {
    white-space: nowrap;
}

.normal-link {
    color: black;
}

.main-link {
    color: #00dddd;
    text-decoration: underline;
}

.main-link:hover {
    color: #00ffff;
}

.border-up-bottom {
    border-left: none !important;
    border-right: none !important;
}

/* navbar */
.navbar__list {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar__item {
    margin-right: 2rem;
}

.navbar__item img {
    border-radius: 50px;
}

.navbar__item-right {
    display: flex;
    margin-left: auto;
}

.navbar__item img {
    width: 65px;
    height: 36px;
}

.sidenav-icon {
    display: none;
}

/* nav menu */
.navbar__menu {
    display: none;
}
  
.navbar__menu.active {
    display: flex;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 4rem;
    width: 200px;
    padding: 10px;
}
  
.navbar__menu__item {
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #5F6366;
    cursor: pointer;
}

.navbar__link {
    font-size: 1.5rem;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip .tooltip__text {
    visibility: hidden;
    text-align: center;
    z-index: 1;
    position: absolute;
    right: 105%;
    color: white;
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
    font-size: 1rem;
}

.tooltip:hover .tooltip__text {
    visibility: visible;
}

/* about me */
header {
    margin-top: 11rem;
}

.about {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 0 4rem;
}

.about__text {
    font-size: 2rem;
    text-align: justify;
}

.about__icon {
    height: 90px;
    width: 90px;
    margin-right: 30px;
    border: 1px solid black;
}

/* projects */
.projects {
    color: white;
    background-color: #4D6D9A;
    padding: 5rem;
}

.projects__carousel {
    user-select: none;
    cursor: grab;
    display: flex;
    overflow-x: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* setting scroll bar color and width in Gecko based browsers. */
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

/* setting scroll bar color and width in WebKit based browsers */
.projects__carousel::-webkit-scrollbar {
    width: 10px;
}

.projects__carousel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.projects__carousel::-webkit-scrollbar-thumb {
    background-color: #888;
}

.projects__carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.project__item {
    cursor: pointer;
    flex: 0 0 auto;
    text-align: center;
    width: 28rem;
    height: 24rem;
    margin-right: 4rem;
    scroll-snap-align: start;
}

.project__item h1, .project__item p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(80, 80, 80, 0.8);
}

/* projects background imgs */
.background-image-template {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    
}

.background-image-template:hover {
    opacity: initial;
}

#personni-moveis {
    background-image: url(../imgs/personni-moveis-front-page.png);
}

#gotrip {
    background-image: url(../imgs/gotrip-home.png);
}

#pede-facil {
    background-image: url(../imgs/pedeFacil-start.png);
}

#pokedex {
    background-image: url(../imgs/pokedex-pokemon.jpeg);
}

#observer-pattern {
    background-image: url(../imgs/observer-pattern-UML.png);
}

#state-pattern {
    background-image: url(../imgs/state-pattern-UML.png);
}

#proUni-analysis {
    background-image: url(../imgs/graph-proUni.png);
}

#yt-dlp-GUI {
    background-image: url(../imgs/not-available.jfif);
}

/* education */
.education__title {
    font-size: 2rem;
}

.education__item {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 2rem;
}

.education__item__about {
    margin-left: 2rem;
}

.education__item__img, .education__uni__img {
    height: 90px;
    width: 280px;
}

.education__item a {
    font-size: 1.5rem;
}

/* education-Udemy */
.education__udemy__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 2.5rem;
}

/* learning */
.learning {
    background-color: #5F6366;
    color: white;
    padding: 3rem 0;
}

.learning__title {
    margin-left: 3rem;
}

.learning__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin: 0 auto;
    max-width: 1920px;
    gap: 3rem;
    padding: 30px 20px;
}

.learning__card {
    border: 4px solid black;
    border-radius: 10px;
}

.learning__card__content {
    border-radius: 10px;
    padding: 1rem;
    display: flex;
}

.card__paragraph {
    font-size: 3rem;
    margin-left: 3rem;
}

.learning__card h4 {
    font-size: 2.5rem;
    text-align: center;
}

.learning__card p {
    font-size: 1.2rem;
    text-align: justify;
}

.learning__card img {
    height: 90px;
    width: 90px;
}

/* CV */
.curriculum {
    text-align: center;
}

.curriculum__select-label, .curriculum__lang-select {
    font-size: 2rem;
}

.curriculum__download {
    display: flex;
    visibility: hidden;
    justify-content: center;
    font-size: 2em;
}

.curriculum__download__icon {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}

#canvas_container {
    display: none;
}

/* footer */
.footer {
    font-size: 3rem;
    background: #4D6D9A;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer__email {
    color: white;
}

.footer__contact-list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contact-list__item {
    padding: 0 20px;
}

.github-icon {
    color: #00ffff;
}

/* return */
.return-top {
    font-size: 4rem;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
}

/* responsivity for screens with a width bigger than 300px */
@media (max-width: 850px) {
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    p {
        font-size: 26px;
    }

    .sidenav-icon {
        display: initial;
    }

    .sidenav-icon i {
        cursor: pointer;
    }

    .main-item {
        display: none;
    }
    
    .navbar__menu {
        display: none;
    }
    
    .navbar__menu img {
        width: 65px;
        height: 36px;
    }

    /* 
        activated nav menu:
        elements set to visible, apply flex column style;
    */
    .navbar__menu.active {
        display: flex;
        flex-direction: column;
        background-color: #444;
        right: 20px;
        width: 200px;
        padding: 10px;
    }

    /* about */
    .about {
        display: block;
        text-align: center;
    }

    .about__icon {
        margin: 0 auto;
    }
}

@media (max-width: 760px) {
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 23px;
    }
    
    p {
        font-size: 23px;
    }

    .about__icon {
        margin-bottom: 2rem;
    }

    /* projects */
    .projects__title {
        text-align: center;
        margin: 0 auto;
    }

    .project__item {
        width: 12rem;
        height: 13rem;
        margin-right: 2rem;
    }

    .project__item h1, .project__item p {
        font-size: 1.2rem;
    }

    .project__item p {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    /* education */
    .education__title {
        margin: 2.5rem auto;
        text-align: center;
    }

    .education__item {
        display: block;
        text-align: center;
    }

    .education__item__div {
        margin: 0 auto;
    }

    .education__item__about{ 
        margin-left: initial;
    }

    .education__udemy__grid {
        display: block;
        text-align: center;
    }

    .education__item {
        margin-bottom: 1rem;
    }

    /* cv */
    .curriculum__lang-select {
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
    }

    /* return top */
    .return-top {
        font-size: 3.5rem;
    }

    /* footer */
    footer a {
        font-size: 2rem;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    /* navbar */
    .navbar__list {
        font-size: 1.7rem;
    }

    /* projects */
    .projects {
        padding: 2rem;
    }

    .project__item {
        width: 10rem;
        height: 10rem;
    }

    .project__item h1, .project__item p {
        font-size: 1rem;
    }

    /* learning */
    .learning__cards {
        display: block;
    }

    .learning__card {
        margin-bottom: 1rem;
    }

    .learning__card h4 {
        font-size: 2rem;
    }

    .learning__card__content {
        display: block;
        text-align: center;
    }

    .card__paragraph {
        margin-left: initial;
    }

    /* cv */
    .curriculum__lang-select {
        font-size: 1rem;
    }

    /* return top */
    .return-top {
        font-size: 3.5rem;
    }
}

@media (max-width: 440px) {
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 18px;
    }

    /* navbar */
    .navbar__name {
        font-size: 1.1rem;
    }

    .navbar__list {
        font-size: 1.3rem;
    }

    /* projects */
    .projects {
        padding: 2rem;
    }

    .project__item {
        width: 9rem;
        margin-right: 1rem;
    }

    .project__item p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    /* education */
    .education__uni__img {
        height: 60px;
        width: 250px;
    }

    .education__item__img {
        height: 60px;
        width: 150px;
    }

    /* learning */
    .learning__card {
        grid-area: 0;
    }

    /* about */
    .about__text {
        font-size: 0.9rem;
    }

    /* return top */
    .return-top {
        font-size: 3.5rem;
    }

    /* footer */
    footer a {
        font-size: 1.5rem;
    }
}

@media (max-width: 299px) {
    #screen-message {
        display: block;
    }

    /* navbar */
    .wraps {
        white-space: initial;
    }

    .navbar__list {
        display: flex;
        flex-direction: column;
    }
}